---
layout: home
title: Home
---
<div id="content" class="site" >
  <section class="articles">
    <div class="bounds">
      <h2>Featured Articles:</h2>
      <div class="article-flex">
    {% assign counter = 0 %}
    {% for post in site.categories.blogging_about %}
    {% if post.tags contains 'featured' and counter < 3 %}
    {% assign counter=counter | plus:1 %}
    {% assign author = site.authors[post.author] %}
    <div class="article-feature">
      <img src="http://placekitten.com/244/150">
      <h3 class="title" itemscope itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
      <div class="meta">
        <time datetime="{{post.date | date: "%Y-%m-%d" }}" itemscope itemprop="datePublished">{{post.date | date: "%b %e" }}</time><span class="author-divider"> | </spa>
        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="{{author.web}}" itemprop="url"><span itemprop="name">{{author.display_name}}</span></a>
        </span>
      </div>  
    </div>
      {% endif %}
	    {% endfor %}
      </div>
      <h4><a href="blog.html" >More Articles ></a></h4>
    </div>
  </section>

  <section class="resources-section" itemscope itemtype="http://schema.org/ItemList">
    <div class="bounds">
     <h2 class="title" itemprop="name">Resources</h2>
     {% for tagg in site.resourceTags %}
       <meta itemscope itemprop="itemListOrder" content="Unordered" />
       <ul class="reslist">
         <h4> {{ tagg }} </h4>
         {% for post in site.categories.resourced %}
         {% if post.tags contains tagg %}
         <li itemprop="itemListElement"><a href="{{ post.url }}">{{ post.title }}</a></li>
         {% endif %}
         {% endfor %}
       </ul>
    {% endfor %}
    <h4><a href="resources.html" >More Resources ></a></h4>
    </div>
  </section>
</div>
