---
layout: home
title: Home
---
<div id="content" class="site" >

  <section class="home-section" itemscope itemtype="http://schema.org/Resource">
    <h2 class="title" itemscope itemprop="name">Resources</h2>
    <ul class="resourcelist">
    {% for tagg in site.resourceTags %}
    <meta itemscope itemprop="itemListOrder" content="Unordered">
      <ul class="reslist">
      <h4> {{ tagg }} </h4>
      {% for post in site.categories.resourced %}
      {% if post.tags contains tagg %}
        <li itemprop="itemListElement"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}
  </section>

</div>
