<!DOCTYPE html>
<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sizzle/2.0.0/sizzle.min.js"></script>
    <script src="/js/main.js"></script>
    {% include head.html %}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <meta itemscope itemprop="url" content="{{ site.url }}{{ page.url }}">
    {% if page.title %}
    <meta itemscope itemprop="name" content="{{ page.title }}">
    {% endif %}
    <section class="homeheader">
      <h1><span> Design Better</span><br><span>Work Together</span></h1>
    </section>
    <section class="designopen">
      <div class="triangle2"></div>
      <div class="triangle1"></div>
      <div class="bounds">
        <h2>Design Open</h2>
        <p><br>We think the best way to improve the design industry is to work in the open.<br><br>If you have 39 minutes watch this presentation, if not read the manifesto. If you're curious about this site read this post. Finally, if you'd like to help contribute design, code, or content; checkout the roadmap or hit us up on the #opensourcedesign channel (Freenode) in IRC
        </h3>
      </div>
    </section>
    <section class="manifesto">
      <div class="bounds">
        <img src="img/manifestoNew.png">
      </div>
    </section>
    {{ content }}
    {% include global-footer.html %}
    {% include analytics.html %}
    <script type="test/javascript">
      $("#navArticle").click(function() {
        $.scrollTo($(".content-article"), null);
      });
      $("#navResources").click(function() {
        $.scrollTo($(".content-resources"), null);
      });
      $("#navContribute").click(function() {
        $.scrollTo($(".content-contribute"), null);
      });
      $("#navHome").click(function() {
        $.scrollToTop(null);
      });
    </script>
  </body>
</html>
